apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus
  namespace: prometheus
spec:
  releaseName: kube-prometheus-stack
  targetNamespace: prometheus
  interval: 1h # Helm CRD drift detection interval
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 75.15.1
      interval: 10h # Interval for Helm chart updates
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: prometheus
  values:
    prometheusOperator:
      service:
        type: LoadBalancer
